body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #1e1e1e;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.logo {
    width: 150px;
    margin-bottom: 10px;
}

main {
    padding: 20px;
}

.latest-episode, .previous-episodes, .support-us {
    margin-bottom: 40px;
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: rgb(239, 228, 176);
    font-size: 2rem;
    margin-bottom: 20px;
}

.video-container {
    margin: 10px;
    display: inline-block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-container p {
    color: rgb(239, 228, 176);
    margin-top: 10px;
}

.support-us {
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px; /* Adds space between buttons */
}

.support-us .button {
    color: rgb(239, 228, 176);
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #282828;
    padding: 12px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    flex-grow: 1;
    min-width: 120px; /* Ensures buttons have a minimum width */
    margin-bottom: 10px; /* Adds space below buttons */
}

.support-us .button:hover {
    background-color: #383838;
}

.support-us .button-container:first-child {
    margin-bottom: 20px; /* Adds extra space between the first and second rows of buttons */
}

.support-us .button-container:last-child {
    margin-bottom: 0; /* Removes margin below the last row of buttons */
}